{{#d-section pageClass="users"}}
    <h3>{{d-icon "users"}} {{i18n 'recommended.people.title'}}</h3>
        <div class="container">
          <div class='directory'>

            {{#conditional-loading-spinner condition=model.loading}}
              {{#if model}}
                <div class='total-rows'>{{i18n "directory.total_rows" count=model.length}}</div>

                <table>
                  <thead>
                    <th>&nbsp;</th>
                    {{directory-toggle field="seen" order=order asc=asc}}
                    {{directory-toggle field="likes_received" order=order asc=asc icon="heart"}}
                    {{directory-toggle field="likes_given" order=order asc=asc icon="heart"}}
                    {{directory-toggle field="topic_count" order=order asc=asc}}
                    {{directory-toggle field="post_count" order=order asc=asc}}
                    {{directory-toggle field="topics_entered" order=order ascending=ascending}}
                    {{directory-toggle field="posts_read" order=order ascending=ascending}}
                    {{directory-toggle field="time_read" order=order ascending=ascending}}
                    {{directory-toggle field="created" order=order ascending=ascending}}
                    {{directory-toggle field="days_visited" order=order asc=asc}}
                  </thead>
                  <tbody>
                    {{#each model as |item|}}
                        {{recommended-user-list-item tagName="tr" item=item}}
                    {{/each}}
                  </tbody>
                </table>

                {{conditional-loading-spinner condition=model.loadingMore}}
              {{else}}
                <div class='clearfix'></div>
                <p>{{i18n "directory.no_results"}}</p>
              {{/if}}
            {{/conditional-loading-spinner}}

          </div>
        </div>
    {{/d-section}}
