{{#d-section pageClass="users"}}
    <h3>{{d-icon "users"}} {{i18n 'recommended.people.title'}}</h3>
        <div class="container">
          <div class='directory'>

            {{#conditional-loading-spinner condition=model.loading}}
              {{#if model.users}}
                <div class='total-rows'>{{i18n "directory.total_rows" count=model.users.length}}</div>

                  {{#if hasUsers}}
                      {{user-list
                              highlightLastVisited=true
                              changeSort="changeSort"
                              order=order
                              ascending=ascending
                              showSeen=true
                              showLikesReceived=true
                              showLikesGiven=true
                              showTopicCount=true
                              showPostCount=true
                              showTopicsEntered=true
                              showPostsRead=true
                              showTimeRead=true
                              showCreated=true
                              showDaysVisited=true
                              users=model.users}}
                  {{/if}}


                {{conditional-loading-spinner condition=model.loadingMore}}
              {{else}}
                <div class='clearfix'></div>
                <p>{{i18n "directory.no_results"}}</p>
              {{/if}}
            {{/conditional-loading-spinner}}

          </div>
        </div>
    {{/d-section}}
