<td>{{user-info user=item}}</td>
<td>{{number item.last_seen_age}}</td>
<td>{{number item.likes_received}}</td>
<td>{{number item.likes_given}}</td>
<td>{{number item.topic_count}}</td>
<td>{{number item.post_count}}</td>
<td>{{number item.topics_entered}}</td>
<td>{{number item.posts_read}}</td>
<td><span class='time-read'>{{unbound item.time_read}}</span></td>
<td><span class='time-read'>{{{unbound item.created_at_age}}}</span></td>
<td>{{number item.days_visited}}</td>
