{{#add-story email=accountEmail disabled=submitDisabled action="addStory"}}
  {{#unless complete}}
    {{#d-modal-body title="add_story.title"}}
      {{#unless hasAuthOptions}}
        {{login-buttons action="externalLogin"}}
      {{/unless}}

        <div class="create-account">
          <form>
          <table>
            <tr class="input">
                <td class="label"><label for='new-account-story'>{{i18n 'user.story.title'}}</label></td>
                <td>
                    {{textarea value=accountStory id="new-account-story" name="story" autofocus="autofocus"}}
                &nbsp;{{input-tip validation=storyValidation}}
                </td>
            </tr>
            <tr class="instructions">
              <td></td>
              <td><label>{{i18n 'user.story.instructions'}}</label></td>
            </tr>

          </table>

          </form>
        </div>
        <br>
    {{/d-modal-body}}

  <div class="modal-footer">
    <button class='btn btn-large btn-primary' disabled={{submitDisabled}} {{action "addStory"}}>Submit</button>
    {{#conditional-loading-spinner condition=formSubmitted size="small"}}
      <button class="btn btn-large" id="login-link" {{action "skip"}}>
      {{i18n 'skip'}}
    </button>
    {{/conditional-loading-spinner}}

  </div>
  {{/unless}}
{{/add-story}}
