{{#d-modal-body id="invite-modal" title=title}}
  {{#if model.error}}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      {{{errorMessage}}}
    </div>
  {{/if}}
  {{#if model.finished}}
    {{#if model.inviteLink}}
      {{generated-invite-link link=model.inviteLink email=emailOrUsernameOrPhoneNumber}}
    {{else}}
        {{#if model.inviteCode}}
            {{generated-invite-code code=model.inviteCode}}
        {{else}}
            <h3> Generated Invitation Code:
                {{invitation_code}}
            </h3><br>
            {{{successMessage}}}
        {{/if}}
    {{/if}}
  {{else}}
    <label>{{inviteInstructions}}</label><br>
    {{#if allowExistingMembers}}
      {{#if isPrivateTopic}}
        {{user-selector single="true"
                        allowAny=true
                        excludeCurrentUser="true"
                        usernames=emailOrUsername
                        allowedUsers="true"
                        topicId=topicId
                        placeholderKey=placeholderKey
                        autocomplete="off"}}
      {{else}}
        {{user-selector
            single="true"
            allowAny=true
            excludeCurrentUser="true"
            includeMentionableGroups="true"
            hasGroups=hasGroups
            usernames=emailOrUsername
            placeholderKey=placeholderKey
            autocomplete="off"}}
      {{/if}}
    {{else}}
        <table>

        <tr class="input">
            <td class="label" style="white-space: nowrap;"><label>For whom</label></td>
            <td> {{text-field value=label placeholder="e.g. For Bob in Lansing"}}</td>
        </tr>
        <tr>
            <td></td>
            <td> <label style="color: grey;">This will only be seen by you, so you can remember who it was for!</label></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr class="input">
            <td class="label" style="white-space: nowrap;"><label>SMS / Email</label></td>
            <td> {{text-field value=emailOrUsernameOrPhoneNumber placeholderKey="topic.invite_reply.email_placeholder"}}</td>
        </tr>
        <tr>
            <td></td>
            <td><label style="color: grey;">The system send this invitation directly if you know the person’s contact info. Otherwise, be sure to copy the code down so you can give it to the person directly.</label></td>
        </tr>

        </table>
        <br>
    {{/if}}
    {{#if showGroups}}
      <label><span class={{showGroupsClass}}>{{i18n 'topic.automatically_add_to_groups'}}</span></label>
      {{group-selector groupFinder=groupFinder groupNames=model.groupNames placeholderKey="topic.invite_private.group_name"}}
    {{/if}}

    {{#if showCustomMessage}}
      <br><label><span class='optional'>{{i18n 'invite.custom_message'}}</span> <a {{action "showCustomMessageBox"}}>{{i18n 'invite.custom_message_link'}}</a>.</label>
      {{#if hasCustomMessage}}{{textarea value=customMessage placeholder=customMessagePlaceholder}}{{/if}}
    {{/if}}

  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{#if model.finished}}
    {{d-button class="btn-primary" action="closeModal" label="close"}}
  {{else}}
    {{d-button icon=inviteIcon action="createInvite" class="btn-primary" disabled=disabled label=buttonTitle}}
    {{#if showCopyInviteButton}}
      {{d-button icon="link" action="generateInvitationCode" class="btn-primary" disabled=disabledGenerateInvitation label='user.invited.generate_code'}}
    {{/if}}
  {{/if}}
</div>
